<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
</head>

<body class="container">

  <nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">Facebook</a>
  </nav>

  <hr />

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/posts/new">New Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts">View All</a>
    </li>
  </ul>

  <hr />
  {{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
  {{/if}}

  {{#if error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}}
  <hr />

  {{{body}}}

</body>

</html>