<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="card-header"> New Post</div>
            <div class="card-body">
                <form action="/posts" method="post">
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" name="title" />
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea class="form-control" name="body"></textarea>
                    </div>
                    <button class="btn btn-dark">submit</button>
                </form>
            </div>
        </div>
    </div>